* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2E4d60;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #D5DECE;
}

/* Nav bar CSS */

.navbar-curve{
    background-color:#525e65;
    width:100%;
    height: 60px;
    padding: 20px;
    border-bottom-left-radius:50% 50%;
    border-bottom-right-radius:50% 50%;
    background: #525e65;
    box-shadow: 0px 4px 10px 0px #000000(0,0,0,0.36);
    text-align: center;
}

nav a {
    float: none;
    color: #D5DECE;
    text-align: center;
    padding: 14px 17px;
    justify-content: center;
    text-decoration:solid;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Header CSS*/

.header h1 {
    max-width: 100%;
    text-align: center;
    padding: 20px;
    color: #D5DECE;
    font-size: 85px;
    font-family: 'Roboto';
    font-weight: 100;

}

.header img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;   
}

.about-title {
    max-width: 100%;
    padding: 30px;
    border-bottom: 5px solid;
    color: #D5DECE;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.about-me {
    max-width: 100%;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #D5DECE;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}


.work-title {
    max-width: 100%;
    padding: 30px;
    border-bottom: 5px solid;
    width: 100%;
    text-align: center;
    color: #D5DECE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    
}
.horiseon {
    max-width: 100%;
    flex-grow: 0;
    border: 5px #D5DECE;
    border-radius: 50%;
    width: 700px;
    height: 500px;
    position: relative;
    margin: auto;
}

.horiseon h3 {
    max-width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #D5DECE;
}

.horiseon img {
    margin: auto;
    width: 700px;
    height: 500px;

}



.work {
    max-width: 100%;
    flex-grow: 0;
    border: 5px #D5DECE;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    flex-direction: row;
    margin: auto;

}


.work h3 {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #D5DECE;
}

.image-wrap {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex: 1 100px;
    position: relative;

}


.work img { 
    margin: auto;
    width: 300px;
    height: 300px;
}

.h-overlay {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 700px;
    height: 500px;
    border-radius: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.overlay {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.horiseon:hover .h-overlay {
    opacity: 1;
}

.work:hover .overlay {
    opacity: 1;
}



.footer {
    max-width: 100%;
    background-color:#525e65;
    width:100%;
    height: 150px;
    padding: 20px;
    border-top-left-radius:50% 50%;
    border-top-right-radius:50% 50%;
    background: #525e65;
    box-shadow: 0px 4px 10px 0px #000000(0,0,0,0.36);
    margin-top: 50px;
    text-align: center
}

footer h2 {
    max-width: 100%;
    color: #D5DECE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;

}

footer ul {
    list-style-type: none;
    line-height: 10px;
}

footer li {
    max-width: 100%;
    float: none;
    color: #D5DECE;
    text-align: center;
    padding: 14px 17px;
    justify-content: center;
    text-decoration:solid;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}